<h2>루비 온 레일스 가이드 (<%= @edge ? @edge[0, 7] : @version %>)</h2>

<% if @edge %>
<p>
  레일스 <a href="https://github.com/rails/rails/tree/<%= @edge %>">master@<%= @edge[0, 7] %></a> 버전에 기초한 <b>엣지 가이드</b>입니다.
</p>
<p>
  안정 버전의 가이드를 찾는 경우, 
  <a href="http://guides.rubyonrails.org">http://guides.rubyonrails.org</a>를 확인바랍니다.
</p>
<% else %>
<p>
  레일스 <a href="https://github.com/rails/rails/tree/<%= @version %>"><%= @version %></a> 버전에 기초한 레일스 5.1 버전의 새로운 가이드입니다.
  레일스를 이용하여 바로 웹개발을 하고 프레임워크 내부 이해를 돕도록 가이드를 기획하여 만들었습니다.
</p>
<% end %>
<p>
지난 버전 릴리스 가이드: 
<a href="http://guides.rubyonrails.org/v5.0/">5.0</a>,
<a href="http://guides.rubyonrails.org/v4.2/">4.2</a>,
<a href="http://guides.rubyonrails.org/v4.1/">4.1</a>,
<a href="http://guides.rubyonrails.org/v4.0/">4.0</a>,
<a href="http://guides.rubyonrails.org/v3.2/">3.2</a>,
<a href="http://guides.rubyonrails.org/v2.3/">2.3</a>.
</p>
